/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/storage/debugbar/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
_ide_helper.php
composer.lock
.idea/*
.phpstorm.meta.php
/storage/debugbar/*
.firebase/*
.dep/
release
releases/*
shared/*
